<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashwini.harekrishna">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".second" />
        <activity
            android:name=".thir"
            android:label="@string/title_activity_thir"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fraghome" />
        <activity android:name=".galleryone" />
        <activity android:name=".weddingall" />
        <activity android:name=".about" />
        <activity android:name=".contact" />
        <activity android:name=".bookingactivity" />
        <activity android:name=".couplecatlo" />
        <activity android:name=".candidslider" />
        <activity android:name=".transaction" />
        <activity android:name=".tellyour" />
        <activity android:name=".logindemo" />
        <activity android:name=".bookinglist" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".thank" />
        <activity android:name=".cameraspecification" />
        <activity android:name=".Bridecatalog"></activity>
    </application>

</manifest>